@charset "UTF-8";


body, h1,h2,h3{
	margin: 0;
	padding: 0;
}

ul, a, ol, li{
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}


.header_wrap{
	width: 100%;
	margin: 0 auto;
	height: 100px;
	background-color: #64ac7d !important;
	position: fixed; 
	top : 0;
	

	
}

.header{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	
}

.header h1 {
	text-align: center;
	background-image: url(../logo/logo2.png);
	background-repeat: no-repeat;
	width: 200px;
	height: 50px;
	text-indent: -99999px;
	/* margin-top: 20px; */

}
.header .menu{
	float: left;
	margin-top: -25px;
	margin-left : 230px;
}
.header .menu>li{
	float: left;
	font-weight: bold;
	margin-left: 30px;
	width: 150px;
}

.header .menu>li a {
	color: #fff;
	
}
.header .menu>li a:hover {
	color: #b5ff89;
	
}

.header .login{
	float: right;
	margin-top: -25px;
}
.header .login>li{
	float: left;
	margin-left: 20px;
}
.header .login>li a{
	color: #fff;
	font-size: small;
}

.header .login>li a:hover {
	color: #b5ff89;
	
}


.content_wrap{
	background-image: url(../img/background.jpg); 
	height: 800px; 
	background-repeat: no-repeat;
	background-size: 100%;

	opacity: 0.5; 
	
	margin-top: 100px;
	padding-top: 20px;
	position: relative;
    z-index: -9999;
}

.content{
	width: 1200px;
	margin: 0 auto;
	border: 3px solid red;
	height: 780px;
	background-color: #fff;
	opacity: 0.5;

	
}


.content_center{
	width: 900px;
	border: 5px solid blue;
	height: 770px;
	background-color: #fff;
	opacity: 0.5;
	float: right;

}
.content_side{
	width: 250px;
	border: 3px solid red;
	height: 770px;
	background-color: #fff;
	opacity: 0.5;
	float: left;
}






